<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Screenshot</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">

</head>
<body>
    <section class="header">
        <nav>
            <a id="logo" href="index.html">Screenshot_Application</a>
            <div class="navbar" id="navbar">
                <ul>
                    <li><a href="/signin">Login</a></li>
                </ul>
            </div>
        </nav>

   <div class="text">
    <h1>Screenshot</h1>
    <h2>Let's click it!!</h2> 
    <a  class='txt'href="/signup">Sign up to click!!</a>
   </div>     
</section>

<!-- new section -->
<section class="offer">
    <div class="ph">
    <h1 >Our Services</h1>
    <p>Following domains come under our project</p>
</div>
    <div class="row">
        <div class="column">
            <h3>Capturing the Screenshot</h3>
            <p>Involves the process of taking a snapshot of the current screen or a specific application window within the project. 
                This functionality allows users to freeze a visual representation of what they are currently seeing on their screen, 
                which can be useful for various purposes such as documentation, sharing information, troubleshooting, or simply saving something of interest.
                Thus, providing a user-friendly way for users to initiate the screenshot capture.
            </p>
        </div>
        <div class="column">
            <h3>A diverse Editing Palette</h3>
            <p>Provides users with a versatile set of tools for editing and customizing the content.Editing Palette components include
                text editing that offers options for formatting text, such as font styles, sizes, colors, alignment, and the ability to insert and edit text or paragraphs.
                Image Editing offers tools for toggling original image, mirroring, flipping, and applying filters or effects like altering brightness etc. of images.
                     </div>
        <div class="column">
            <h3>Save and display the screenshots</h3>
            <p>Save the screenshot instantly alongwith the edited screenshot image generated via edit palette. Alongwith that a dashboard is
             created to give a visually appealing gallery view of the saved screenshots. 
             

            </p>
        </div>
    </div>
</section>
<section class="people">
    <h1>Who are we?</h1>
    <br>
    <div>
        <p>
            We are a team of two individuals who are passionate about building this application. Our team consists of Anshika and Aarushi; who bring diverse skills and experience to the table.
            Together, we make a strong team that is committed to making a positive impact through our work. Thank you for visiting our website, and we look forward to your feedback and support as we work to make this platform a success.
        </p>
    </div>
    <div class="rowp">
        <div class="colp">
            <img src="8380015.jpg">
            <div>
                <p>Anshika is our UX/UI designer and responsible for designing the user interface and the major Frontend of the website. With a fine experience in design, she is skilled in creating intuitive and engaging designs that enhance the user experience.</p>

                <h3>Anshika</h3>
            </div>
        </div>
        <div class="colp">
            <img src="8380015.jpg">
            <div>
                <p>Aarushi is our Backend strategist and responsible for linking the pages and creating the authentication page. She has a background in Django and has experience creating content for various platforms, including websites.
                </p>
                    
                <h3>Aarushi</h3>
            </div>
        </div>


        </div>
    </div>
</section>
<!----cta-->
<section class="cta">
    <h1>Become A Part Of our Team</h1>
    
    <br><br><br><br></be><a href="/Contact us.html" class="txt">CONTACT US</a>
</section>

<!-- Footer -->

<section class="footer">
    <h4>About Us</h4>
    <p>We are a community creating and developing a new platform for searching new real time problem of the world to meet the young and innovative minds to solve them..</p>
</section>



    <script>
         var navlinks = document.getElementById("navbar");
        
         function showMenu(){
            navlinks.style.right = "0";
         }
         function hideMenu(){
            navlinks.style.right = "-200px";

         }


    </script>
</body>
</html>