<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Screenshot</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">

</head>
<body>
    <section class="header">
        <nav>
            <a id="logo" href="index.html">Screenshot</a>
            <div class="navbar" id="navbar">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/signin">Login</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>

   <div class="text">
    <h1>Screenshot</h1>
    <h2>Let's click it!!</h2> 
    <a  class='txt'href="/signup">Sign in to click!!</a>
   </div>     
</section>

<!-- new section -->
<section class="offer">
    <div class="ph">
    <h1 >Our Services</h1>
    <p>Folowing domains come under our Expertise</p>
</div>
    <div class="row">
        <div class="column">
            <h3>Collecting Real time P.S.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, minus recusandae! Ad, quaerat.
               Pariatur, nam rem quisquam dolore laudantium quibusdam eos aliquid deserunt labore ut earum praesentium
               ratione temporibus ipsa quos similique hic ducimus doloremque optio placeat aspernatur deleniti voluptate 
               quae alias! Eaque excepturi, placeat illum dolorum repellendus numquam asperiores.
            </p>
        </div>
        <div class="column">
            <h3>A opportinity to help young mind to see the world </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, minus recusandae! Ad, quaerat.
                Pariatur, nam rem quisquam dolore laudantium quibusdam eos aliquid deserunt labore ut earum praesentium
                ratione temporibus ipsa quos similique hic ducimus doloremque optio placeat aspernatur deleniti voluptate 
                quae alias! Eaque excepturi, placeat illum dolorum repellendus numquam asperiores.
                     </div>
        <div class="column">
            <h3>Collecting new data</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, minus recusandae! Ad, quaerat.
                Pariatur, nam rem quisquam dolore laudantium quibusdam eos aliquid deserunt labore ut earum praesentium
                ratione temporibus ipsa quos similique hic ducimus doloremque optio placeat aspernatur deleniti voluptate 
                quae alias! Eaque excepturi, placeat illum dolorum repellendus numquam asperiores.
             

            </p>
        </div>
    </div>
</section>
<section class="people">
    <h1>Who are we?</h1>
    <br>
    <div>
        <p>
            We are a team of four dedicated individuals who are passionate about using technology to solve real-world problems. Our team consists of Shreyanshi, Debanjana Pal, Aarushi and Akshit Bhutani; who bring diverse skills and experience to the table.
            Together, we make a strong team that is committed to making a positive impact through our work. We believe that technology can be a powerful tool for social change, and we are excited to use our skills to connect problem solvers with organisations that need their help. Thank you for visiting our website, and we look forward to your feedback and support as we work to make this platform a success.
        </p>
    </div>
    <div class="rowp">
        <div class="colp">
            <img src="8380015.jpg">
            <div>
                <p>Aarushi is our UX/UI designer and responsible for designing the user interface and the major Frontend of the website. With a fine experience in design, she is skilled in creating intuitive and engaging designs that enhance the user experience.</p>

                <h3>Aarushi</h3>
            </div>
        </div>
        <div class="colp">
            <img src="8380015.jpg">
            <div>
                <p>Anshika is our content strategist and responsible for creating compelling content for the website. He has a background in content marketing and has experience creating content for various platforms, including websites, social media, and email campaigns.
                </p>
                    
                <h3>Anshika</h3>
            </div>
        </div>


        </div>
    </div>
</section>
<!----cta-->
<section class="cta">
    <h1>Become A Part Of P.S. Hacks and solve Problems<br>From Anywhere In The World!!</h1>
    
    <br><br><br><br></be><a href="/Contact us.html" class="txt">CONTACT US</a>
</section>

<!-- Footer -->

<section class="footer">
    <h4>About Us</h4>
    <p>We are a community creating and developing a new platform for searching new real time problem of the world to meet the young and innovative minds to solve them..</p>
</section>



    <script>
         var navlinks = document.getElementById("navbar");
        
         function showMenu(){
            navlinks.style.right = "0";
         }
         function hideMenu(){
            navlinks.style.right = "-200px";

         }


    </script>
</body>
</html>