<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Screenshot_Application</title>
    <link rel="stylesheet" href="{% static 'signup.css' %}">
    
</head>
<body>
    <section class="header">
        <nav>
            <a id="logo" href="/">Screenshot_Application</a>
            <div class="navbar" id="navbar">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/signin">Login</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>


        <!-- Alert fix it -->
        {% if messages %}
				  {% for message in messages %}
				  <div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0" role="alert">
					{{ message }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
					</button>
				  </div>
				  {% endfor %}
				  {% endif %}

</section>
    <form method="post" action="/signin">
        {% csrf_token %}
        <h1>Login</h1>
        <div class="text">
            <input type="text" name="username" placeholder="Username"> 
        </div>
        <div class="text">
            <input type="text" name="password" placeholder="Password">
        </div>
        <input type="submit" value="Login" class="login">
        <br><br>
        <div class="su">
            Don't have an account?
        </br>
        <a href="/signup">Sign up</a>
        </div>
    </form>
    
</body>
</html>