*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(1.jpeg);
    background-color: black;
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}
#logo{
    width: 150px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: larger;
    font-style: italic;
    box-shadow: #f44336;
    box-sizing: border-box;
}
.navbar{
    flex: 1;
    text-align: right;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}

.navbar ul li a {
    color: white ;
    text-decoration: none;
    font-size: 15px;
}

.navbar ul li::after{
    content: '';
    width: 0% ;
    height: 2px ;
    background: rgb(54, 183, 209);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}

.text{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
 
.text h1{
    font-size: 62px;
}

.text h2{
    margin: 10px 0 40px;
    font-size: 14px ;
    color: white;
}
.txt{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid#fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.txt:hover{
    border: 1px solid #36cbf4;
    background: #36d4f4;
    transition: 1s;
}

nav.fa{
    display: none;
}



@media(max-width: 700px){
    .text h1{
        font-size: 20px;
    }
    .navbar ul li {
        display: block;
    }
    .navbar{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;

    }
    nav.fa{
        display: block;
        color:#fff;
        margin: 10px;
        font-size: 22px;
        cursor:pointer;
    }

    .navbar ul{
         padding: 30px;
    }

}

/* offer */

.offer{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    min-height: 100vh;
    width: 100%;
    background-image: url(1.jpeg);
    background-color: black;
    background-position: center;
    background-size: cover;
    position: relative;
}

h1{
    font-size: 36px;
    font-weight:  600;
    color: #fff;
}

p{
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.column{
    flex-basis: 31%;
    background: rgb(143, 186, 241);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    color: white;
    transition: 0.5s;
}
.column p{
    color: #faf8f8;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.column:hover{
    box-shadow: 0 0 20px 0px rgba(255, 255, 255, 1);
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/* people */

.people{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    min-height: 100vh;
    width: 100%;
    background-image: url(2.jpeg);
    background-color: black;
    background-position: center;
    background-size: cover;
    position: relative;
}
.colp{
    flex-basis: 44%;
    border-radius: 20px;
    margin-bottom: 5%;
    text-align: left;
    background: rgba(7, 7, 7, 0.3);
    padding: 25px;
    cursor: pointer;
    display: flex;

}
.colp img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.colp p{
    color: white;
    padding: 0;
}
.colp h3{
    color: white;
    margin-top: 15px;
    text-align: left;
}

@media(max-width: 700px){
    .col img{
        margin-left: 0px;
        margin-right: 15px;
    }
}
.ph p{
    color: white;
    
}
.ph{
    flex-basis: 50%;
    background: rgba(7, 7, 7, 1);
    border-radius: 20px;
    margin-bottom: 2%;
    padding: 2px 30px 1;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    transition: 0.5s;
}

/* cta */

.cta{
    text-align: center;
    min-height: 100vh;
    width: 100%;
    background-image: url(3.jpeg);
    background-color: black;
    background-position: center;
    background-size: cover;
    position: relative;
}
@media(max-width: 700px){
    .cta h1{
        font-size: 24px;
    }
}
/*footer*/

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px ;
    margin-top: 20px;
    font-weight: 600;
}

