*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    width: 100%;
    background: url(2.jpeg);
    background-color: black;
    background-position: center;
    background-size: cover;
    position: relative;
}

form{
    background: rgba(6, 1, 30,0.2);
    width: 500px;
    height: 550px;
    padding: 80px 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 3%;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.692);
    
}

h1 {
     text-align: center;
     margin-right: 45px;
     color: white;
     font-size: 40px;
}

.text{
    border-bottom: 2px solid white;
    position: relative;
    margin: 35px 0;
}

.text input{
    background: none;
    border: none;
    outline: none;
    width: 100;
    color: white;
    height: 30px;
    font-size: 20px;
}
.login{
    height: 45px;
    width: 100%;
    border: none;
    background-size: 200% ;
    font-size: 16px;
    border-radius: 3%;
    font-family:Verdana, Geneva, Tahoma, sans-serif, Arial, sans-serif;
}

.login:hover{
    background-position: right;
    font-size: 18px;
    background: orangered;
}
.su{
    color: white;
    text-align: center;
}

@media(max-width: 700px){
    form{
        width: 325px;
        transform: translate(-20%,-50%);

    }
}

/*contact us*/
h4 {
    text-align: center;
    margin-right: 45px;
    color: white;
    font-size: 40px;
}

/*header*/
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(1.jpeg);
    background-color: black;
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}
#logo{
    width: 150px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: larger;
    font-style: italic;
    box-shadow: #f44336;
    box-sizing: border-box;
}
.navbar{
    flex: 1;
    text-align: right;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}

.navbar ul li a {
    color: white ;
    text-decoration: none;
    font-size: 15px;
}

.navbar ul li::after{
    content: '';
    width: 0% ;
    height: 2px ;
    background: rgb(54, 183, 209);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
    
